---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Link from 'phosphor-astro/LinkBold.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import PostLink from '../components/PostLink.astro';
import NavBar from '../components/NavBar.astro';
import NavBarItem from '../components/NavBarItem.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body class="text-beige-900 bg-beige-50 font-inter">
        <main class="w-full max-w-4xl mt-16 mx-auto px-8">
            <h1 class="font-instrument text-5xl mb-4">Alan Strauhs</h1>
            <NavBar>
                <NavBarItem href="/">index</NavBarItem>
                <NavBarItem href="/projects">projects</NavBarItem>
                <NavBarItem href="/about">about</NavBarItem>
            </NavBar>
            <ul>
                <PostLink
                    href="/blog/first-post"
                    title="Implementing buffered inserts for ClickHouse in Go"
                    date={new Date()}
                    tags={["#clickhouse", "#data"]}
                />
            </ul>
        </main>
    </body>
</html>
