---
import Layout from "../layouts/Layout.astro";
import Nav from "@/components/Nav.astro";
import MapPin from "astro-heroicons/outline/MapPin.astro";
import ArrowDown from "astro-heroicons/outline/ArrowDown.astro";
import "@/styles/base.css";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-xl mx-auto pt-16">
    <div
      class="min-h-[calc(100vh-64px)] flex flex-col items-center justify-center relative"
    >
      <div class="sm:w-[40rem] w-[20rem]">
        <div class="text-yellow-100 text-xl font-bold pb-2">
          <div
            class="animate-appear animation-delay-[500ms] opacity-0 inline-block"
          >
            Yo, I'm <span class="text-yellow-400 underline">Alan</span>, <span
              class="animate-fade-in opacity-0 animation-delay-[800ms]"
              >working as a</span
            >
          </div>
        </div>
        <div
          id="typewriter"
          class="text-4xl sm:text-7xl font-title font-black text-yellow whitespace-pre-line
                 after:content-['k'] after:bg-yellow after:animate-blink"
        >
        </div>
        <span> </span>
        <div
          id="afterTypewriter"
          class="flex items-center text-yellow-200 font-title font-bold pt-4 sm:text-2xl text-xl opacity-0 animation-delay-200"
        >
          <MapPin class="w-8 h-8 pr-1" />
          <div>based in the UK</div>
        </div>
      </div>
      <div class="absolute bottom-0 mx-auto pb-10 flex flex-col items-center">
        <div class="font-title font-black text-yellow-600 pb-2">
          want to see more?
        </div>
        <ArrowDown class="w-7 h-7 text-yellow-600 animate-bounce" />
      </div>
    </div>
  </main>
</Layout>

<script>
  let text = "full-stack\nsoftware\ndeveloper";
  let typewriter = document.getElementById("typewriter");
  let idx = 0;
  function typewrite() {
    if (typewriter === null) {
      return;
    }
    if (idx == text.length) {
      setTimeout(() => {
        document
          .getElementById("afterTypewriter")
          ?.classList.add("animate-fade-in");
      });
      return;
    }
    typewriter.innerHTML += text[idx];
    if (idx == 0) {
      typewriter.classList.add("after:ml-1");
    }
    idx++;
    setTimeout(typewrite, 200);
  }
  setTimeout(typewrite, 1100);
</script>
