---
import Layout from "../layouts/Layout.astro";
import TechStack from "@/components/TechStack.astro";
import MapPin from "astro-heroicons/outline/MapPin.astro";
import ArrowDown from "astro-heroicons/outline/ArrowDown.astro";
import "@/styles/base.css";
---

<Layout title="Welcome to Astro.">
  <main class="w-screen h-screen pt-16 snap-y snap-mandatory overflow-y-scroll">
    <div
      class="min-h-[calc(100dvh)] flex flex-col items-center justify-center snap-start relative"
    >
      <div class="sm:w-[40rem] w-[20rem]">
        <div class="text-yellow-100 text-xl font-bold pb-2">
          <div
            class="animate-appear animation-delay-[500ms] opacity-0 inline-block"
          >
            Yo, I'm <span class="text-yellow-400 underline">Alan</span>, <span
              class="animate-fade-in opacity-0 animation-delay-[800ms]"
              >working as a</span
            >
          </div>
        </div>
        <div
          id="typewriter"
          class="text-4xl sm:text-7xl font-title font-black text-yellow whitespace-pre-line
                 after:content-['k'] after:bg-yellow after:animate-blink"
        >
        </div>
        <span> </span>
        <div
          id="after-typewriter"
          class="flex items-center text-yellow-200 font-title font-bold pt-4 sm:text-2xl text-xl opacity-0 animation-delay-200"
        >
          <MapPin class="w-8 h-8 pr-1" />
          <div>based in the UK</div>
        </div>
      </div>
      <div class="absolute bottom-0 mx-auto flex flex-col items-center pb-12">
        <div
          id="scatter-text"
          class="font-title font-black text-yellow-600 pb-2"
        >
          want to see more?
        </div>
        <ArrowDown
          id="arrow-down"
          class="w-7 h-7 text-yellow-600 animate-bounce opacity-0"
        />
      </div>
    </div>
    <section class="snap-start h-screen pt-16 flex justify-center weird px-4">
      <div class="max-w-4xl flex-1 prose pt-16">
        <h1 class="font-title text-yellow font-xl">the techstack.</h1>
        <TechStack />
      </div>
    </section>
  </main>
</Layout>

<script>
  let text = "full-stack\nsoftware\ndeveloper";
  let typewriter = document.getElementById("typewriter");
  let idx = 0;
  function typewrite() {
    if (typewriter === null) {
      return;
    }
    if (idx == text.length) {
      setTimeout(() => {
        document
          .getElementById("after-typewriter")
          ?.classList.add("animate-fade-in");
      });
      animateScatter();
      return;
    }
    typewriter.innerHTML += text[idx];
    if (idx == 0) {
      typewriter.classList.add("after:ml-1");
    }
    idx++;
    setTimeout(typewrite, 200);
  }
  setTimeout(typewrite, 1100);

  import anime from "animejs/lib/anime.es.js";
  let scatterTextWrapper = document.getElementById("scatter-text");
  if (scatterTextWrapper != null && scatterTextWrapper?.textContent) {
    scatterTextWrapper.innerHTML = scatterTextWrapper.textContent.replace(
      /\S/g,
      "<span class='letter inline-block opacity-0'>$&</span>",
    );
  }
  anime.set("#scatter-text .letter", {
    translateX: () => {
      return anime.random(-100, 100);
    },
    translateY: () => {
      return anime.random(-100, 10);
    },
  });

  async function animateScatter() {
    anime
      .timeline()
      .add(
        {
          targets: "#scatter-text .letter",
          opacity: 1,
          rotate: () => {
            return anime.random(-45, 45) + 180;
          },
          duration: 400,
          easing: "spring",
        },
        "+=500",
      )
      .add(
        {
          targets: "#scatter-text .letter",
          translateX: 0,
          translateY: 0,
          rotate: 0,
          duration: 300,
          easing: "spring",
          delay: anime.stagger(70),
        },
        "-=400",
      );

    anime({
      targets: "#arrow-down",
      opacity: [0, 1],
      easing: "easeOutExpo",
      duration: 300,
      delay: 500,
    });
  }
</script>
