---
import NavItem from "@/components/nav/NavItem.astro";
---

<header class="bg-yellow-950 fixed inset-x-0">
  <nav class="mx-auto max-w-4xl px-8">
    <div class="flex items-center justify-between h-16">
      <a
        href="/"
        class="transition-all font-title tracking-wider font-extrabold text-2xl
                 from-yellow-300 to-yellow-50 bg-gradient-to-t
                 text-transparent bg-clip-text hover:from-yellow hover:to-yellow-200 duration-300 ease-out select-none"
      >
        scarydoors
      </a>
      <ul class="flex flex-row space-x-8">
        <NavItem title="Projects" href="/projects/" />
        <NavItem title="Blog" href="/blog/" />
        <li>
          <a
            href="/contact/"
            class="rounded-lg bg-yellow text-yellow-950 py-2 px-4 font-medium hover:bg-yellow-300 shadow-[0_0_6px_0_yellow] shadow-yellow"
          >
            Let's Talk
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
